**/.git
.DS_Store
*.dylib
*.DSYM
*.d
*.pyc
*.pyo
.*.swp
.*.swo
.*.un~
*.tmp
*.o
*.o-*
*.os
*.os-*
# Exclude scons build outputs to prevent macOS binaries leaking into Docker
.sconsign.dblite
**/*.so
!third_party/**/*.so

venv/
.venv/
